@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin grid-col1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: px-to-rem(32px);
}

@mixin grid-col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: px-to-rem(32px);
}

@mixin grid-col4-row2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: px-to-rem(32px);
  row-gap: px-to-rem(24px);
}
