// COLORS
$color-purple50: #eee5ff;
$color-purple300: #c4a2f6;
$color-purple500: #7541c8;
$color-body: #f6f5f6;
$color-white: #ffffff;
$color-grey100: #e7eaee;
$color-grey200: #cfcfcf;
$color-grey300: #a3aab4;
$color-grey400: #676d7e;
$color-grey500: #48556a;
$color-darkblue: #19212e;
$color-black: #121212;

// FONTS
$font-display: "Barlow Semi Condensed", Arial, sans-serif;
